# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
.jekyll-metadata
_site

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json

# Misc

## temp for new posts
_posts/2025-08-09-making-a-chess-engine.md
_posts/2025-08-10-making-an-llm.md
_posts/2025-08-15-generating-mc-skins.md